<a href="https://colab.research.google.com/github/vunnampragathi/690-stats-and-visu/blob/main/assignment_8/in_class_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Session 4 In Class Practice

In [1]:
import pandas as pd

In [2]:
DATA_URL = "https://raw.githubusercontent.com/wcj365/python-stats-dataviz/master/assignments/assignment_08_census_cost/census_costs.txt"
df = pd.read_csv(DATA_URL, skiprows=1, sep="\t")
df.head(3)

  Census Year Total Population Census Cost Average Cost Per Person
0        1790        3,929,214     $44,377              1.13 cents
1        1800        5,308,483     $66,109              1.24 cents
2        1810        7,239,881    $178,445              2.46 cents

In [3]:
df.shape

(23, 4)

In [4]:
df.sample(3)

   Census Year Total Population  Census Cost Average Cost Per Person
11        1900       76,303,387  $11,854,000             15.54 cents
12        1910       91,972,266  $15,968,000             17.07 cents
16        1950      151,325,798  $91,462,000             60.44 cents

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     object
 1   Total Population         23 non-null     object
 2   Census Cost              23 non-null     object
 3   Average Cost Per Person  23 non-null     object
dtypes: object(4)
memory usage: 864.0+ bytes

In [6]:
df

   Census Year Total Population     Census Cost Average Cost Per Person
0         1790        3,929,214         $44,377              1.13 cents
1         1800        5,308,483         $66,109              1.24 cents
2         1810        7,239,881        $178,445              2.46 cents
3         1820        9,633,822        $208,526              2.16 cents
4         1830       12,866,020        $378,545              2.94 cents
5         1840       17,069,458        $833,371              4.88 cents
6         1850       23,191,876      $1,423,351              6.14 cents
7         1860       31,443,321      $1,969,377              6.26 cents
8         1870       38,558,371      $3,421,198              8.87 cents
9         1880       50,155,783      $5,790,678             11.54 cents
10        1890       62,979,766     $11,547,127             18.33 cents
11        1900       76,303,387     $11,854,000             15.54 cents
12        1910       91,972,266     $15,968,000             17.07 cents
13        1920      105,710,620     $25,117,000             23.76 cents
14        1930      122,775,046     $40,156,000             32.71 cents
15        1940      131,669,275     $67,527,000             51.29 cents
16        1950      151,325,798     $91,462,000             60.44 cents
17        1960      179,323,175    $127,934,000             71.34 cents
18        1970      203,302,031    $247,653,000                   $1.22
19        1980      226,542,199  $1,078,488,000                   $4.76
20        1990      248,718,301  $2,492,830,000                  $10.02
21        2000      281,421,906    $4.5 Billion                  $15.99
22       2010*      308,745,538     $13 Billion                  $42.11

In [7]:
df.describe()

       Census Year Total Population Census Cost Average Cost Per Person
count           23               23          23                      23
unique          23               23          23                      23
top           1790        3,929,214     $44,377              1.13 cents
freq             1                1           1                       1

In [8]:
x = 179323175
print(type(x))

<class 'int'>

In [9]:
y = "123,456,789"

z = y.replace(",", "")

print(z)

123456789

In [10]:
type(int(z))

int

In [11]:
df[["Census Year", "Total Population"]]

   Census Year Total Population
0         1790        3,929,214
1         1800        5,308,483
2         1810        7,239,881
3         1820        9,633,822
4         1830       12,866,020
5         1840       17,069,458
6         1850       23,191,876
7         1860       31,443,321
8         1870       38,558,371
9         1880       50,155,783
10        1890       62,979,766
11        1900       76,303,387
12        1910       91,972,266
13        1920      105,710,620
14        1930      122,775,046
15        1940      131,669,275
16        1950      151,325,798
17        1960      179,323,175
18        1970      203,302,031
19        1980      226,542,199
20        1990      248,718,301
21        2000      281,421,906
22       2010*      308,745,538

In [12]:
pop_list = df["Total Population"].tolist()
pop_list

['3,929,214',
 '5,308,483',
 '7,239,881',
 '9,633,822',
 '12,866,020',
 '17,069,458',
 '23,191,876',
 '31,443,321',
 '38,558,371',
 '50,155,783',
 '62,979,766',
 '76,303,387',
 '91,972,266',
 '105,710,620',
 '122,775,046',
 '131,669,275',
 '151,325,798',
 '179,323,175',
 '203,302,031',
 '226,542,199',
 '248,718,301',
 '281,421,906',
 '308,745,538']

In [13]:
pop_list2 = [int(pop.replace(",", "")) for pop in pop_list]
print(pop_list2)

[3929214, 5308483, 7239881, 9633822, 12866020, 17069458, 23191876, 31443321, 38558371, 50155783, 62979766, 76303387, 91972266, 105710620, 122775046, 131669275, 151325798, 179323175, 203302031, 226542199, 248718301, 281421906, 308745538]

In [14]:
def cleanse_pop(a_string):
    return int(a_string.replace(",",""))

In [15]:
x = cleanse_pop("123,459")

print(x)

123459

In [16]:
df["tot_pop"] = df["Total Population"].apply(cleanse_pop)

df.head()

  Census Year Total Population Census Cost Average Cost Per Person   tot_pop
0        1790        3,929,214     $44,377              1.13 cents   3929214
1        1800        5,308,483     $66,109              1.24 cents   5308483
2        1810        7,239,881    $178,445              2.46 cents   7239881
3        1820        9,633,822    $208,526              2.16 cents   9633822
4        1830       12,866,020    $378,545              2.94 cents  12866020

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     object
 1   Total Population         23 non-null     object
 2   Census Cost              23 non-null     object
 3   Average Cost Per Person  23 non-null     object
 4   tot_pop                  23 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.0+ KB

In [18]:
df.describe()

            tot_pop
count  2.300000e+01
mean   1.039211e+08
std    9.622629e+07
min    3.929214e+06
25%    2.013067e+07
50%    7.630339e+07
75%    1.653245e+08
max    3.087455e+08

In [19]:
df.describe(include="all")

,Census Year,Total Population,Census Cost,Average Cost Per Person,tot_pop
count,23,23,23,23,2.300000e+01
unique,23,23,23,23,NaN
top,1790,"3,929,214","$44,377",1.13 cents,NaN
freq,1,1,1,1,NaN
mean,NaN,NaN,NaN,NaN,1.039211e+08
std,NaN,NaN,NaN,NaN,9.622629e+07
min,NaN,NaN,NaN,NaN,3.929214e+06
25%,NaN,NaN,NaN,NaN,2.013067e+07
50%,NaN,NaN,NaN,NaN,7.630339e+07
75%,NaN,NaN,NaN,NaN,1.653245e+08
max,NaN,NaN,NaN,NaN,3.087455e+08